---
import Link from "@components/Link.astro"

export interface Props {
  title: string;
  modrinth?: { id: string; name: string };
  curseforge?: { id: string; name: string };
  source?: { author: string; name: string; service: "github" | "gitlab" };
}

const { title, modrinth, curseforge, source } = Astro.props;
---

<article>
  <h2 id={title.toLowerCase()}>{title}</h2>
  <div class="flex gap-2 flex-wrap">
    {
      modrinth && (
        <Link href={`https://modrinth.com/mod/${modrinth.name}`} openInNewTab>
          <img class="mt-auto" src={`https://img.shields.io/modrinth/dt/${modrinth.id}?logo=modrinth`} />
        </Link>
      )
    }
    {
      curseforge && (
        <Link href={`https://www.curseforge.com/minecraft/mc-mods/${curseforge.name}`} openInNewTab>
          <img src={`https://img.shields.io/curseforge/dt/${curseforge.id}?logo=curseforge`} />
        </Link>
      )
    }
    {
      () => {
        if (source == null) {
          return;
        }

        switch (source.service) {
          case "gitlab":
            return (
              <Link href={`https://gitlab/${source.author}/${source.name}`} openInNewTab>
                <img src={`https://img.shields.io/gitlab/last-commit/${source.author}/${source.name}?logo=gitlab`} />
              </Link>
            );
          default:
            return (
              <Link href={`https://github/${source.author}/${source.name}`} openInNewTab>
                <img src={`https://img.shields.io/github/last-commit/${source.author}/${source.name}?logo=github`} />
              </Link>
            );
        }
      }
    }
  </div>
  <p><slot /></p>
</article>
