---
import LinkImage from "@components/LinkImage.astro";

export interface Props {
  modrinth?: { id: string; name: string };
  curseforge?: { id: string; name: string };
  source?: { author: string; name: string; service: "github" | "gitlab" };
}

const { modrinth, curseforge, source } = Astro.props;
---

<section>
  <div class="flex gap-2 flex-wrap">
    <!-- Modrinth Badge -->
    {
      modrinth && (
        <LinkImage
          href={`https://modrinth.com/mod/${modrinth.name}`}
          src={`https://img.shields.io/modrinth/dt/${modrinth.id}?logo=modrinth`}
          alt="modrinth badge"
          className="mt-auto"
        />
      )
    }
    <!-- CurseForge Badge -->
    {
      curseforge && (
        <LinkImage
          href={`https://www.curseforge.com/minecraft/mc-mods/${curseforge.name}`}
          src={`https://img.shields.io/curseforge/dt/${curseforge.id}?logo=curseforge`}
          alt="curseforge badge"
        />
      )
    }
    <!-- GitHub/Lab Badge -->
    {
      () => {
        if (source == null) {
          return;
        }

        switch (source.service) {
          case "gitlab":
            return (
              <LinkImage
                href={`https://gitlab.com/${source.author}/${source.name}`}
                src={`https://img.shields.io/gitlab/last-commit/${source.author}/${source.name}?logo=gitlab`}
                alt="gitlab badge"
              />
            );
          default:
            return (
              <LinkImage
                href={`https://github.com/${source.author}/${source.name}`}
                src={`https://img.shields.io/github/last-commit/${source.author}/${source.name}?logo=github`}
                alt="github badge"
              />
            );
        }
      }
    }
  </div>
  <slot />
</section>
